.close-setting-btn-event {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.setting-description-input{
    max-height: 250px;
    min-height: 60px;
    width: 100%;
    resize: vertical;
}

.delete-event {
    background-color: #8B0000;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
}

.settings-description-input{
    max-height: 250px;
    min-height: 60px;
    width: 100%;
    resize: vertical;
}

.save-changes-event {
    background-color: #0448aa;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
}

.event-settings-buttons {
    display: flex;
    align-items: center;
}

.modal-content-event-set {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    margin-bottom: 0px;
}