<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Calendar"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style/headerStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/calendarStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/modalAddEventStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/modalAddRoomStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/modalSettingsEventStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/modalSettingsRoomStyle.css}">
</head>
<body>
<header>
    <div class="header-container">
        <div class="wrap-logo">
            <a class="logo"></a>
        </div>
        <div class="room-selector">
            <button class="room-select-btn">Select Room</button>
            <div class="room-dropdown hidden">
                <ul class="room-list"></ul>
            </div>
        </div>
        <a class="add-room-btn">Add Room</a>
    </div>
    <div class="center-buttons">
        <button class="prev-week">Previous week</button>
        <span class="current-week"></span>
        <button class="next-week">Next week</button>
    </div>
    <nav>
        <a class="add-event-btn">Add Event</a>
        <a class="active" th:href="@{/logout}">Logout</a>
        <div class="user-info">
            <i class="user-icon">&#128100;</i>
            <span class="user-name" th:text="${user.username}">User Name</span>
        </div>
    </nav>
</header>

<div class="modal" id="add-event-modal">
    <div class="modal-content">
        <span class="close-btn-event">&times;</span>
        <h2>Add Event</h2>
        <div class="input-fields">
            <input type="text" placeholder="dd.mm.yyyy" class="date-input">
            <div class="time-input-container">
                <input type="text" placeholder="Start time:time" class="start-time-input">
                <input type="text" placeholder="End time:time" class="end-time-input">
            </div>
            <textarea placeholder="Description" class="description-input"></textarea>
        </div>
        <button class="add-event">Add</button>
    </div>
</div>

<div class="modal" id="setting-event-modal">
    <div class="modal-content-event-set">
        <span class="close-setting-btn-event">&times;</span>
        <h2>Event settings</h2>
        <div class="input-fields">
            <input type="text" placeholder="dd.mm.yyyy" class="settings-date-input">
            <div class="time-input-container">
                <input type="text" placeholder="Start time:time" class="settings-start-time-input">
                <input type="text" placeholder="End time:time" class="settings-end-time-input">
            </div>
            <textarea placeholder="Description" class="settings-description-input"></textarea>
        </div>
        <div class="event-settings-buttons">
            <button class="save-changes-event">Save changes</button>
            <button class="delete-event">Delete Event</button>
        </div>
    </div>
</div>

<div class="modal" id="add-room-modal">
    <div class="modal-content">
        <span class="close-btn-room">&times;</span>
        <h2>Add Room</h2>
        <div class="input-fields">
            <input type="text" placeholder="Room Name" class="room-name-input">
            <select class="room-status-dropdown">
                <option class="room-option" value="active">Active</option>
                <option class="room-option" value="inactive">Inactive</option>
            </select>
        </div>
        <button class="add-room">Add</button>
    </div>
</div>

<div class="modal" id="setting-room-modal">
    <div class="modal-content">
        <span class="close-setting-btn-room">&times;</span>
        <h2>Add Room</h2>
        <div class="input-fields">
            <input type="text" placeholder="Room Name" class="room-setting-name-input" readonly>
            <select class="room-setting-status-dropdown">
                <option class="room-option" value="active">Active</option>
                <option class="room-option" value="inactive">Inactive</option>
            </select>
        </div>
        <div class="room-settings-buttons">
            <button class="save-changes-room">Save changes</button>
            <button class="delete-room">Delete Room</button>
        </div>
    </div>
</div>

<div class="calendar">
    <div class="timeline">
        <div class="spacer"></div>
        <script>
            for (let i = 0; i < 25; i++) {
                let hours = i;
                let minutes = "00";
                document.write(`<div class="time-marker">${hours}:${minutes}</div>`);
            }
        </script>
    </div>
    <div class="days">
        <div class="day mon">
            <div class="date">
                <p class="date-day">Monday</p>
                <p class="date-num">9</p>
            </div>
            <div class="events">

            </div>
        </div>
        <div class="day tues">
            <div class="date">
                <p class="date-day">Tuesday</p>
                <p class="date-num">12</p>
            </div>
            <div class="events">

            </div>
        </div>
        <div class="day wed">
            <div class="date">
                <p class="date-day">Wednesday</p>
                <p class="date-num">11</p>
            </div>
            <div class="events">

            </div>
        </div>
        <div class="day thurs">
            <div class="date">
                <p class="date-day">Thursday</p>
                <p class="date-num">12</p>
            </div>
            <div class="events">

            </div>
        </div>
        <div class="day fri">
            <div class="date">
                <p class="date-day">Friday</p>
                <p class="date-num">13</p>
            </div>
            <div class="events">

            </div>
        </div>
        <div class="day sat">
            <div class="date">
                <p class="date-day">Saturday</p>
                <p class="date-num">14</p>
            </div>
            <div class="events">

            </div>
        </div>
    </div>
</div>
<div id="eventList" th:attr="data-events=${eventListJson}"></div>
<div id="roomList" th:attr="data-events=${roomListJson}"></div>
<div id="userList" th:attr="data-events=${userListJson}"></div>
<div id="CurUser" th:attr="data-events=${user}"></div>
<script src="scripts/modalAddEventJS.js"></script>
<script src="scripts/paginationJS.js"></script>
<script src="scripts/eventJS.js"></script>
<script src="scripts/modalAddRoomJS.js"></script>
<script src="scripts/modalSettingsEventJS.js"></script>
<script src="scripts/modalSettingsRoomJS.js"></script>
<script src="scripts/roomsSelectorJS.js"></script>
<script>
    getDate(currentWeek);
    CurrentWeek(currentWeek);
    getEvents(currentWeek);
</script>
</body>
</html>